/******** link  *********/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/****** default css ******/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/****** header part ******/
.container {
    width: 80%;
    height: 420px;
    margin: 40px auto;
    background-color: rgba(0, 10, 0, 1);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 15px;
}

.header-left h1 {
    color: #FFFFFF;
    font-size: 40px;
}

.header-left p {
    color: #FFFFFF;
    font-size: 14px;
}

.header-left #header-button {
    background-color: #DD0000;
    color: #FFFFFF;
    border: none;
    padding: 15px 35px;
    border-radius: 5px;
    cursor: pointer;
}

.header-right img {
    height: 430px;
}

/****** button and blog part ******/

.buttons-and-blogs-container {
    width: 80%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 80px;
    justify-content: space-between;
}

.left-section {
    width: 30%;
    margin-left: -20px;
    position: relative;
}

.button-div {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 10, 0, 1);
    border-radius: 8px;
}

.button-div a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button-div a .link-button {
    width: 130px;
    height: 30px;
    background-color: #E8E8E8;
    padding: 10px 40px;
    margin-bottom: 20px;
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    color: #161616;
    text-align: center;
    font-weight: 550;
}

.button-div a .color {
    background-color: #DD0000;
    color: #FFFFFF;
}

.right-section {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 24px;

}


.upcoming-matches {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 20px;
}

.match {
    margin: 0 auto;
    box-shadow: 5px 5px 20px rgb(235, 235, 235);
    border-radius: 8px;
    padding: 15px 20px;
}

.blog .blog-img {
    width: 95%;

}

.horizontal-flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-start {
    display: flex;
    max-width: 140px;
    justify-content: space-between;

}

.left,
.right {
    display: flex;
    justify-content: space-between;
}

.left img {
    margin-right: 8px;
}

.right img {
    margin-right: 8px;
}

.blog {
    margin: 0 auto;
    box-shadow: 5px 5px 20px rgb(235, 235, 235);
    border-radius: 8px;
    padding: 15px 30px;
}

.view-button {
    visibility: hidden;
}

/****** footer part ******/
footer {
    background-color: rgba(0, 10, 0, 1);
    height: 280px;
}

footer h2 {
    color: #7cbb6c;
    text-align: center;
    font-style: italic;
    padding-top: 80px;
}

footer hr {
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    list-style: none;
}

nav ul li a {
    color: #FFFFFF;
    Font-size: 14px;
    padding: 30px;
    text-decoration: none;

}

.social-media-icon {
    display: flex;
    justify-content: center;

}

.social-media-icon a {

    margin: 0 30px;
    font-size: 30px;
    color: rgb(27, 211, 150);

}