@media screen and (max-width: 688px) {
    .container {
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }


    .go-center {
        text-align: center;
    }

    .go-center #header-button {
        margin-left: -55px;
    }

    .buttons-and-blogs-container {
        flex-direction: column;
    }

    .left-section {
        padding-left: 30px;
    }

    .button-div {
        background-color: #FFFFFF;
    }

    .right-section {
        grid-template-columns: 1fr;
        padding-left: 35px;
    }

    .upcoming-matches {
        grid-template-columns: 1fr;
    }


    footer {
        height: 100%;
    }

    nav ul {
        flex-direction: column;
        list-style: none;
        align-items: center;
        padding: 20px;
    }

    nav ul li {
        padding: 15px 10px;
    }

    .social-media-icon a {
        margin-bottom: 30px;
    }
}